@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

$spacing: 24px;

$black: #111111;
$white: #FFFFFF;
$light-gray: #DDDDDD;

$primary-font: 'Roboto Mono', monospace;
$cursive: 'Mr Dafoe', cursive;

html, body {
  font-family: $primary-font;
  background: $white;
  color: $black;
  font-size: 16px;
}

html, body, h1, h2, h3, h4, h5, p {
  margin: 0;
}

.fluid-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.padding {
  padding: 0 $spacing;
}

.vertical-spacing {
  margin: $spacing 0;
}

.container {
  display: inline-block;
  box-sizing: border-box;
  float: left;

  &.-one-third {
    width: 33.33%;
  }

  &.-two-thirds {
    width: 66.66%;
  }

  &.-one-quarter {
    width: 25%;
  }

  &.-three-quarters {
    width: 75%;
  }
}

.grid:after {
  content: "";
  clear: both;
  display: table;
}

.header {
  border-bottom: 1px solid $light-gray;
  padding-bottom: $spacing / 3;

  .header__name {
    font-family: $cursive;
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle;
  }

  .header__contact {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.25em;
    font-size: .8rem;
  }
}

.console-line {
  margin: $spacing 0;
  font-size: .8rem;

  .console-line__pre {
    font-weight: 200;
    display: inline-block;
  }

  .console-line__cmd {
    font-weight: 400;
    display: inline-block;
  }
}

.profile {
  .profile__bio {
    font-size: .9rem;
    font-weight: 300;
  }
}

.skills {
  p {
    font-weight: 300;
    font-size: .8rem;
  }
}

.position {
  .position__title {
    font-size: 1.2rem;

    i {
      font-style: italic;
      font-weight: 100;
      font-size: 1rem;
    }

    span {
      font-size: .8rem;
      font-weight: 100;
      margin-left: $spacing / 2;
    }
  }

  .position__description {
    font-size: .9rem;
    font-weight: 300;
    margin-top: $spacing / 2;
  }
}

.photo {
  font-size: .5rem;
  line-height: .25rem;
}
