@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300,700');

$spacing: 8px;

$black: #111111;
$grey: #b8b8b8;
$darkBlue: #001f3f;

$fontPrimary: 'Open Sans Condensed', sans-serif;
$fontSecondary: 'Anton', sans-serif;

html, body {
  font-family: $fontPrimary;
  background: #FFF;
  color: $black;
  font-size: 18px;
}

html, body, h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

h5 {
  font-size: 1.1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-weight: 300;

  &.-small {
    font-size: .9rem;
  }

  &.-bold {
    font-weight: 800;
  }
}

a {
  font-size: .9rem;
  color: $darkBlue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

span {
  font-size: .9rem;
  color: $grey;
  font-weight: 300;

  &.-extra_small {
    font-size: .6rem;
    display: block;
  }
}

ul {
  margin-top: 8px;
  margin-bottom: 0;
  padding-right: $spacing * 4;
  list-style-type: square;

  li b {
    font-weight: 800;
  }
}

div.-inline {
  display: inline-block;
}

.title {
  font-family: $fontSecondary;
}

.header {
  font-weight: 300;
  margin-bottom: $spacing + ($spacing / 2);

  &:not(.-right) {
    &:after {
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background-color: $black;
    }
  }

  &.-right {
    margin-right: $spacing;
  }
}

.fluid-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.container {
  display: flex;
  flex: 1 100%;

  .container {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;

    > div {
      padding-right: -$spacing;
    }
  }

  &.-right-border {
    height: 100%;

    > div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: right;
      word-spacing: 100000px;
      border-right: 1px solid $black;
    }
  }

  > div {
    width: 100%;

    &.-narrow {
      width: 60%;
    }

    &.-center {
      text-align: center;
    }

    &.-padding {
      padding: $spacing;
    }

    &.-seperate {
      margin-top: $spacing * 2;
    }

    &.-extra_seperate {
      margin-top: $spacing * 7;
    }
  }

  &.container__half {
    width: 50%;
  }

  &.container__one-third {
    width: 33%;
  }

  &.container__two-thirds {
    width: 66%;
  }

  &.container__one-sixth {
    width: 16%;
  }

  .contact {
    float: right;
    margin-top: 1em;
  }
}
