@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i");
html, body {
  font-family: "Roboto Mono", monospace;
  background: #FFFFFF;
  color: #111111;
  font-size: 16px; }

html, body, h1, h2, h3, h4, h5, p {
  margin: 0; }

.fluid-container {
  width: 100%;
  max-width: 800px;
  margin: auto; }

.padding {
  padding: 0 24px; }

.vertical-spacing {
  margin: 24px 0; }

.container {
  display: inline-block;
  box-sizing: border-box;
  float: left; }
  .container.-one-third {
    width: 33.33%; }
  .container.-two-thirds {
    width: 66.66%; }
  .container.-one-quarter {
    width: 25%; }
  .container.-three-quarters {
    width: 75%; }

.grid:after {
  content: "";
  clear: both;
  display: table; }

.header {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 8px; }
  .header .header__name {
    font-family: "Mr Dafoe", cursive;
    font-size: 2rem;
    display: inline-block;
    vertical-align: middle; }
  .header .header__contact {
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.25em;
    font-size: .8rem; }

.console-line {
  margin: 24px 0;
  font-size: .8rem; }
  .console-line .console-line__pre {
    font-weight: 200;
    display: inline-block; }
  .console-line .console-line__cmd {
    font-weight: 400;
    display: inline-block; }

.profile .profile__bio {
  font-size: .9rem;
  font-weight: 300; }

.skills p {
  font-weight: 300;
  font-size: .8rem; }

.position .position__title {
  font-size: 1.2rem; }
  .position .position__title i {
    font-style: italic;
    font-weight: 100;
    font-size: 1rem; }
  .position .position__title span {
    font-size: .8rem;
    font-weight: 100;
    margin-left: 12px; }

.position .position__description {
  font-size: .9rem;
  font-weight: 300;
  margin-top: 12px; }

.photo {
  font-size: .5rem;
  line-height: .25rem; }
